.app-wrapper {
  display: grid; 
  grid-template-areas: 
  "header header"
  "navbar content"
  "footer footer";
  grid-template-columns: 1fr 9fr; 
  grid-template-rows: 60px
                      1fr 
                      60px;
  grid-gap: 7px; 
  height: 100vh;
  margin: 7px;                
}

.app-wrapper-content {
    grid-area: content; 
    background-color: gainsboro; 
}
